Repository RobertGardner/teach-code-journal-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markuplint, stylelint --fix, eslint --fix

Rollback index.html changes that were made to test prettier
  index.html
Due: prettier --write, markuplint

Update var to use let
  js/data.js
Due: prettier --write, eslint --fix

Remove styling eslint rules
  .eslintrc
Due: none

Update markuplint config so that it doesn't impact prettier
  .markuplintrc
Due: none

Switch order of markuplint and prettier on lintstaged config
  .lintstagedrc
Due: none

Use lfz-config. Remove devcontainer
  .devcontainer/devcontainer.json
  .eslintrc
  .lintstagedrc
  .lintstagedrc.cjs
  .markuplintrc
  .markuplintrc.cjs
  .prettierrc
  .stylelintrc
  package-lock.json
  package.json
Due: none

Fix eslint errors and added missing dep
  js/main.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Update template to use TypeScript
  README.md
  package-lock.json
  ts/data.ts
  ts/main.ts
  tsconfig.json
Due: none

Add missing deps
  package-lock.json
  package.json
Due: none

Update package-lock
  package-lock.json
Due: none

Update deps
  package-lock.json
  package.json
Due: none

Adjust eslint rule to account for exported functions
  .eslintrc
  ts/data.ts
  ts/main.ts
Due: none

Path conditions:
  prettier --write: ((any of: *.html) or (any of: *.css)) or (any of: *.{js,jsx})
  markuplint: any of: *.html
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx}
